<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5">
      <assemblies>
        <!-- BORLAND DEBUG KERNEL
         The httpModule Borland.DbkAsp.DbkConnModule is required for debugging under IIS.
         This module may be installed in web.config or machine.config, but not both.
         Move the following line outside this comment to install.
    <add assembly="Borland.dbkasp, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b0524c541232aae7"/>
    -->
      </assemblies>
    </compilation>
    <httpModules>
      <!-- BORLAND DEBUG KERNEL
       The httpModule Borland.DbkAsp.DbkConnModule is required for debugging under IIS.
       This module may be installed in web.config or machine.config, but not both.
       Move the following line outside this comment to install.
  <add name="DbgConnect" type="Borland.DbkAsp.DbkConnModule,Borland.dbkasp,Version=10.0.0.0, Culture=neutral, PublicKeyToken=b0524c541232aae7"/>
  -->
    </httpModules>
    <httpRuntime executionTimeout="1200" maxRequestLength="102400" />
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
   -->
    <customErrors defaultRedirect="errorpage.htm" mode="Off" />
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
      -->
    </authorization>
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
      "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms loginUrl="TLogon.aspx" timeout="60" />
    </authentication>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="true" />
  </system.web>
  <location path="Web">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="CONN" value="Server=192.168.6.168;uid=sa;pwd=test;database=webtest;pooling=true;min pool size=5;max pool size=512;Connection Timeout=180;" />
    <add key="connectionStr" value="Server=192.168.6.168;uid=test;pwd=test;database=webtest;" />

    <add key="pageSize" value="20" />
    <add key="INSpageSize" value="20" />
    <add key="downtype" value="2" />
    <add key="downPath" value="E:\K\" />
    <add key="UploadPath" value="E:\K\" />
    <add key="INSdowntype" value="2" />
    <add key="INSdownPath" value="E:\K\" />
    <!--email-->
    <add key="EmailHost" value="127.0.0.1" />
    <add key="EmailFrom" value="mail@mail.com" />
    <add key="EmailPassword" value="123456" />
    <add key="EmailTO" value="mail@mail.com" />
    <!--添加多个邮箱地址，用"|"隔开-->
    <add key="EmailCC" value="" />
    <!--email-->
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="TLogon-test.aspx" />
                <add value="TLogon.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>